*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: var(--chaand-leading-normal);
  font-family: var(--chaand-font-sans);
  background: var(--chaand-color-bg);
  color: var(--chaand-color-text);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
